.jumbotron {
    background-color: #99d3df;
}
body {
    background-color: #88bbd6;
}
.card {
    background-color: #cdcdcd;
}
h1 {
    font-size: 100px;
}
p {
    font-size: 20px;
}
h4 {
    font-size: 30px;
}